
.signin {
	width:477px;
	height:479px;	
	margin:0 auto;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-239px;
	margin-left:-238px;
}
.signin-head {
	margin:0 auto;
	padding-top:20px;
	width:200px;
}
.form-signin {
  max-width: 330px;
  padding: 5px 15px 15px 15px;
  margin: 0 auto;
}

.form-signin .form-control1 {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control1:focus {
  z-index: 2;
}
.form-signin .form-control2{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control2:focus {
  z-index: 2;
}
.form-control1{
  margin-bottom: 14px;
  border-radius: 0;
  background: url(../images/login_user.png) 0 0 #bdbdbd no-repeat;
  padding-left:60px;
  color:#FFFFFF;
}

.form-control2{
  margin-bottom: 10px;
  border-radius: 0;
  background: url(../images/login_pas.png) 0 0 #bdbdbd no-repeat;
  padding-left:60px;
  color:#FFFFFF;
}
.btn btn-lg btn-warning btn-block{
  border-radius: 0;
}
.dl-horizontal dt{
  padding:10px 10px 10px 10px;
}

.dl-horizontal dd{
  padding:10px 10px 10px 10px;
}