<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
		<property name="configurationClass" value="org.hibernate.cfg.AnnotationConfiguration" />
	</bean>

	<!--
		<context:annotation-config/> <context:component-scan
		base-package="classpath" />
	-->

	<!-- 配置事务特性为标注操作    -->
	<tx:annotation-driven transaction-manager="transactionManager"
		proxy-target-class="true" />


	<!--
		配置事务特性为通知操作，配置add，delete，update开始的方法，事务传播特性为required <tx:advice
		id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes> <tx:method name="*" propagation="REQUIRED"/>
		<tx:method name="add*" propagation="REQUIRED"/> <tx:method
		name="delete*" propagation="REQUIRED"/> <tx:method name="update*"
		propagation="REQUIRED"/> <tx:method name="*" read-only="true"/>
		</tx:attributes> </tx:advice>
	-->
	<!--
		配置对哪些类的方法进行事务管理，dao包中所有类所有方法需要，还需要参考tx:advice的设置 <aop:config>
		<aop:pointcut id="allManagerMethod" expression="execution(*
		dao.*.add*(..))"/> <aop:advisor advice-ref="txAdvice"
		pointcut-ref="allManagerMethod"/> </aop:config>
	-->

	<!--
		定义事务代理，利用TransactionProxyFactoryBean生成事务代理，注入事务管理器 <bean
		id="authorManageServiceServiceProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"> <ref bean="transactionManager"/>
		</property> <property name="target"> <ref local="authorDAOImpleBean"/>
		</property> <property name="proxyTargetClass"> <value>true</value>
		</property> <property name="transactionAttributes"> <props> <prop
		key="*">PROPAGATION_REQUIRED</prop> </props> </property> </bean>
	-->

	<!-- 声明一个 Hibernate 3 的 事务管理器供代理类自动管理事务用 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<!-- 控制层Bean定义 -->
	<bean id="UserloginManageActionBean" scope="prototype"
		class="com.tu.action.UserloginManageAction">
		<property name="userloginManageBean" ref="UserloginManageBean"/>
		<property name="userviewBean" ref="UserviewBean"/>
		<property name="actsBean" ref="ActsBean"/>
		<property name="groupBean" ref="GroupBean"/>
		<property name="msgBean" ref="MsgBean"/>
		<property name="userMsgBean" ref="UserMsgBean"/>
	</bean>

	<bean id="UserviewActionBean" scope="prototype"
		class="com.tu.action.UserviewAction">
		<property name="userviewBean" ref="UserviewBean"/>
		<property name="userloginManageBean" ref="UserloginManageBean"/>
		<property name="userActBean" ref="UserActBean"/>
		<property name="actsBean" ref="ActsBean"/>
		<property name="userMsgBean" ref="UserMsgBean"/>
	</bean>

	<bean id="LeaderviewActionBean" scope="prototype"
		class="com.tu.action.LeaderviewAction">
		<property name="leaderviewBean" ref="LeaderviewBean"/>
		<property name="actsBean" ref="ActsBean"/>
		<property name="msgBean" ref="MsgBean"/>
		<property name="userMsgBean" ref="UserMsgBean"/>
		<property name="userActBean" ref="UserActBean"/>
		<property name="userloginManageBean" ref="UserloginManageBean"/>
	</bean>
	
	<bean id="AccountingviewActionBean" scope="prototype"
		class="com.tu.action.AccountingviewAction">
		<property name="accountingviewBean" ref="AccountingviewBean"/>
		<property name="userloginManageBean" ref="UserloginManageBean"/>
		<property name="groupBean" ref="GroupBean"/>
		<property name="actsBean" ref="ActsBean"/>
	</bean>

	<!-- 服务层Bean定义 -->



	<bean id="UserloginManageBean" class="com.tu.model.userlogin.UserloginManageImple">
		<property name="userloginDAO" ref="UserloginDAO"/>
		<property name="daoModelMapper" ref="DaoModelMapper"/>
	</bean>

	<bean id="UserviewBean" class="com.tu.model.userview.UserviewImple">
		<property name="userloginDAO" ref="UserloginDAO"/>
		<property name="groupDAO" ref="GroupDAO"/>
		<property name="userGroupDAO" ref="UserGroupDAO"/>
		<property name="userActDAO" ref="UserActDAO"/>
		<property name="actsDAO" ref="ActsDAO"/>
		<property name="msgDAO" ref="MsgDAO"/>
		<property name="userMsgDAO" ref="UserMsgDAO"/>
	</bean>

	<bean id="ActsBean" class="com.tu.model.activities.ActivitiesImple">
		<property name="actsDAO" ref="ActsDAO"/>
		<property name="daoModelMapper" ref="DaoModelMapper"/>
	</bean>

	<bean id="GroupBean" class="com.tu.model.group.GroupImple">
		<property name="groupDAO" ref="GroupDAO"/>
	</bean>
	
	<bean id="UserGroupBean" class="com.tu.model.user.group.UserGroupImple">
		<property name="userGroupDAO" ref="UserGroupDAO"/>
	</bean>
	
	<bean id="UserActBean" class="com.tu.model.user.act.UserActImple">
		<property name="userActDAO" ref="UserActDAO"/>
	</bean>

	<bean id="LeaderviewBean" class="com.tu.model.leaderview.LeaderviewImple">
		<property name="userloginDAO" ref="UserloginDAO"/>
		<property name="groupDAO" ref="GroupDAO"/>
		<property name="userGroupDAO" ref="UserGroupDAO"/>
		<property name="actsDAO" ref="ActsDAO"/>
		<property name="userActDAO" ref="UserActDAO"/>
	</bean>
	
	<bean id="AccountingviewBean" class="com.tu.model.accountingview.AccountingviewImple">
		<property name="userloginDAO" ref="UserloginDAO"/>
		<property name="actsDAO" ref="ActsDAO"/>
		<property name="userActDAO" ref="UserActDAO"/>
		<property name="groupDAO" ref="GroupDAO"/>
	</bean>
	
	<bean id="MsgBean" class="com.tu.model.messages.MessagesImple">
		<property name="msgDAO" ref="MsgDAO"/>
		<property name="daoModelMapper" ref="DaoModelMapper"/>
	</bean>
	
	<bean id="UserMsgBean" class="com.tu.model.user.msg.UserMsgImple">
		<property name="daoModelMapper" ref="DaoModelMapper"/>
		<property name="userMsgDAO" ref="UserMsgDAO"/>
		<property name="msgDAO" ref="MsgDAO"/>
		<property name="groupDAO" ref="GroupDAO"/>
	</bean>

	<bean id="DaoModelMapper" class="com.tu.mapper.DAOModelMapper">
		<property name="msgDAO" ref="MsgDAO"/>
		<property name="groupDAO" ref="GroupDAO"/>
	</bean>

	<!-- 数据访问层Bean定义 -->



	<bean id="UserloginDAO" class="com.tu.dao.userlogin.UserloginDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="UserGroupDAO" class="com.tu.dao.user.group.UserGroupDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="GroupDAO" class="com.tu.dao.group.GroupDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="ActsDAO" class="com.tu.dao.activities.ActivityDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="UserActDAO" class="com.tu.dao.user.act.UserActDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="MsgDAO" class="com.tu.dao.messages.MessagesDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="UserMsgDAO" class="com.tu.dao.user.msg.UserMsgDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="myUserDetailsService" class="com.tu.authentication.MyUserDetailsService">
		<property name="userLoginDAO" ref="UserloginDAO"/>
	</bean>


</beans>