<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
		<property name="configurationClass" value="org.hibernate.cfg.AnnotationConfiguration" />
	</bean>

	<!--
		<context:annotation-config/> <context:component-scan
		base-package="classpath" />
	-->

	<!-- 配置事务特性为标注操作    -->
	<tx:annotation-driven transaction-manager="transactionManager"
		proxy-target-class="true" />


	<!--
		配置事务特性为通知操作，配置add，delete，update开始的方法，事务传播特性为required <tx:advice
		id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes> <tx:method name="*" propagation="REQUIRED"/>
		<tx:method name="add*" propagation="REQUIRED"/> <tx:method
		name="delete*" propagation="REQUIRED"/> <tx:method name="update*"
		propagation="REQUIRED"/> <tx:method name="*" read-only="true"/>
		</tx:attributes> </tx:advice>
	-->
	<!--
		配置对哪些类的方法进行事务管理，dao包中所有类所有方法需要，还需要参考tx:advice的设置 <aop:config>
		<aop:pointcut id="allManagerMethod" expression="execution(*
		dao.*.add*(..))"/> <aop:advisor advice-ref="txAdvice"
		pointcut-ref="allManagerMethod"/> </aop:config>
	-->

	<!--
		定义事务代理，利用TransactionProxyFactoryBean生成事务代理，注入事务管理器 <bean
		id="authorManageServiceServiceProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"> <ref bean="transactionManager"/>
		</property> <property name="target"> <ref local="authorDAOImpleBean"/>
		</property> <property name="proxyTargetClass"> <value>true</value>
		</property> <property name="transactionAttributes"> <props> <prop
		key="*">PROPAGATION_REQUIRED</prop> </props> </property> </bean>
	-->

	<!-- 声明一个 Hibernate 3 的 事务管理器供代理类自动管理事务用 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- 控制层Bean定义 -->
	<bean id="UserloginManageActionBean" scope="prototype"
		class="com.tu.userlogin.struts2action.UserloginManageAction">
		<property name="userloginManageBean">
			<ref bean="UserloginManageBean"></ref>
		</property>
		<property name="userviewBean">
			<ref bean="UserviewBean"></ref>
		</property>
		<property name="leaderviewBean">
			<ref bean="LeaderviewBean"></ref>
		</property>
		<property name="actsBean">
			<ref bean="ActsBean"></ref>
		</property>
		<property name="groupBean">
			<ref bean="GroupBean"></ref>
		</property>
		<property name="msgBean">
			<ref bean="MsgBean"></ref>
		</property>	
		<property name="user_msgBean">
			<ref bean="User_msgBean"></ref>
		</property>
		<property name="user_groupBean">
			<ref bean="User_groupBean"></ref>
		</property>

	</bean>

	<bean id="UserviewActionBean" scope="prototype"
		class="com.tu.userview.action.UserviewAction">
		<property name="userviewBean">
			<ref bean="UserviewBean"></ref>
		</property>
		<property name="userloginManageBean">
			<ref bean="UserloginManageBean"></ref>
		</property>
		<property name="user_actBean">
			<ref bean="User_actBean"></ref>
		</property>
		<property name="actsBean">
			<ref bean="ActsBean"></ref>
		</property>
		<property name="msgBean">
			<ref bean="MsgBean"></ref>
		</property>		
		<property name="user_msgBean">
			<ref bean="User_msgBean"></ref>
		</property>
	</bean>

	<bean id="LeaderviewActionBean" scope="prototype"
		class="com.tu.leaderview.action.LeaderviewAction">
		<property name="leaderviewBean">
			<ref bean="LeaderviewBean"></ref>
		</property>
		<property name="user_groupBean">
			<ref bean="User_groupBean"></ref>
		</property>
		
		<property name="actsBean">
			<ref bean="ActsBean"></ref>
		</property>
		<property name="msgBean">
			<ref bean="MsgBean"></ref>
		</property>
		<property name="user_msgBean">
			<ref bean="User_msgBean"></ref>
		</property>
		<property name="user_actBean">
			<ref bean="User_actBean"></ref>
		</property>
	</bean>
	
	<bean id="AccountingviewActionBean" scope="prototype"
		class="com.tu.accountingview.action.AccountingviewAction">
		<property name="accountingviewBean">
			<ref bean="AccountingviewBean"></ref>
		</property>
		<property name="userloginManageBean">
			<ref bean="UserloginManageBean"></ref>
		</property>
		<property name="groupBean">
			<ref bean="GroupBean"></ref>
		</property>
		<property name="user_groupBean">
			<ref bean="User_groupBean"></ref>
		</property>
		<property name="actsBean">
			<ref bean="ActsBean"></ref>
		</property>
		
	</bean>

	<!-- 服务层Bean定义 -->



	<bean id="UserloginManageBean" class="com.tu.userlogin.model.UserloginManageImple">
		<property name="userloginDAO">
			<ref bean="UserloginDAO"></ref>
		</property>
	</bean>

	<bean id="UserviewBean" class="com.tu.userview.model.UserviewImple">
		<property name="userloginDAO">
			<ref bean="UserloginDAO"></ref>
		</property>
		<property name="groupDAO">
			<ref bean="GroupDAO"></ref>
		</property>
		<property name="user_groupDAO">
			<ref bean="User_groupDAO"></ref>
		</property>
		<property name="user_actDAO">
			<ref bean="User_actDAO"></ref>
		</property>
		<property name="actsDAO">
			<ref bean="ActsDAO"></ref>
		</property>
		<property name="msgDAO">
			<ref bean="MsgDAO"></ref>
		</property>
		<property name="user_msgDAO">
			<ref bean="User_msgDAO"></ref>
		</property>
	</bean>

	<bean id="ActsBean" class="com.tu.activities.model.ActivitiesImple">
		<property name="actsDAO">
			<ref bean="ActsDAO"></ref>
		</property>
	</bean>

	<bean id="GroupBean" class="com.tu.group.model.GroupImple">
		<property name="groupDAO">
			<ref bean="GroupDAO"></ref>
		</property>
	</bean>
	
	<bean id="User_groupBean" class="com.tu.user_group.model.User_groupImple">
		<property name="user_groupDAO">
			<ref bean="User_groupDAO"></ref>
		</property>
	</bean>
	
	<bean id="User_actBean" class="com.tu.user_act.model.User_actImple">
		<property name="user_actDAO">
			<ref bean="User_actDAO"></ref>
		</property>
	</bean>

	<bean id="LeaderviewBean" class="com.tu.leaderview.model.LeaderviewImple">
		<property name="userloginDAO">
			<ref bean="UserloginDAO"></ref>
		</property>
		<property name="groupDAO">
			<ref bean="GroupDAO"></ref>
		</property>
		<property name="user_groupDAO">
			<ref bean="User_groupDAO"></ref>
		</property>
		<property name="actsDAO">
			<ref bean="ActsDAO"></ref>
		</property>
		<property name="user_actDAO">
			<ref bean="User_actDAO"></ref>
		</property>
	</bean>
	
	<bean id="AccountingviewBean" class="com.tu.accountingview.model.AccountingviewImple">
		<property name="userloginDAO">
			<ref bean="UserloginDAO"></ref>
		</property>
		<property name="actsDAO">
			<ref bean="ActsDAO"></ref>
		</property>
		<property name="user_actDAO">
			<ref bean="User_actDAO"></ref>
		</property>
		<property name="groupDAO">
			<ref bean="GroupDAO"></ref>
		</property>
	</bean>
	
	<bean id="MsgBean" class="com.tu.messages.model.MessagesImple">
		<property name="msgDAO">
			<ref bean="MsgDAO"></ref>
		</property>
	</bean>
	
	<bean id="User_msgBean" class="com.tu.user_msg.model.User_msgImple">
		<property name="user_msgDAO">
			<ref bean="User_msgDAO"></ref>
		</property>
	</bean>


	<!-- 数据访问层Bean定义 -->



	<bean id="UserloginDAO" class="com.tu.userlogin.dao.UserloginDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="User_groupDAO" class="com.tu.user_group.dao.User_groupDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="GroupDAO" class="com.tu.group.dao.GroupDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="ActsDAO" class="com.tu.activities.dao.ActivitiesDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="User_actDAO" class="com.tu.user_act.dao.User_actDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="MsgDAO" class="com.tu.messages.dao.MessagesDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="User_msgDAO" class="com.tu.user_msg.dao.User_msgDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean class="com.tu.util.FuzzyQueryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>


</beans>